
.img-login {
    width: 100%;
    border-radius: 10px;
    height:80vh;
    object-fit: cover;
}
.fundo{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.box-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    margin: auto;
    gap: 1rem;
}
.input{
    margin-left: 10rem;
}