<link href="~/Models/Style/Cadastrar/style.css" rel="stylesheet" />
@{
    ViewBag.Title = "confComp";
}


@if (ViewBag.Erro != null)
{
    <h2>@ViewBag.Erro</h2>
}
else
{
    <h2>Compra Realizada</h2>
    <h3>Olá @Session["dsLogin"]</h3>
    <h3>
        Sua Compra foi realizada com Sucesso!!!
    </h3>
    @Html.ActionLink("Detalhes", "Detalhes", "Home")
}







